[buildout]
extensions=buildout.minitagificator
parts =
    script
    testrunner
develop = ${buildout:directory}
[testrunner]
recipe = zc.recipe.testrunner
eggs = minitage.recipe.printer [test]
[script]
recipe=minitage.recipe.scripts
eggs=ipython
    zest.releaser
    minitage.recipe.printer [test]
[versions]
zc.recipe.testrunner = >=2.0.0
